.featured-flowers{
    height: 100vh;
    width: auto;
    margin: 20px 15%;    
}
.featured-flowers-description{
    padding: 40px 30%;
}
.featured-flowers-description>*{
    text-align: center;
}
.featured-flowers-description>h2{
    font-weight: 900;
}
.featured-flowers-description>p{
    font-size: 14px;
    margin-top: 10px;
    color: rgba(39, 39, 39, 0.6);
}
.featured-flowers-images{
    display: flex;
    max-width: 100%;
    align-items: end;
    justify-content: center;
}
.featured-flowers-images>figure{
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-end;
    border-radius: 50% 50% 0 0;
}
.featured-flowers-images>figure>img{
    width: 250px;
    height: 350px;
    border-radius: 50% 50% 0 0;
    padding-top: 50px;
}
.featured-flowers-images>figure>figcaption{
    background-color: white;
    text-align: center;
    padding: 20px;
}
.featured-flowers-images>figure>figcaption{
    text-decoration: underline black 1px;
}
#featured-flower-1{
    background-color: rgba(167, 33, 98, 0.15);
}
#featured-flower-2{
    background-color: rgba(5, 151, 160, 0.15);
    margin: 0 20px;
}
#featured-flower-3{
    background-color: rgba(71, 125, 17, 0.15);
}