.features{
    display: flex;
    margin: 100px 15%;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.05);
}
.features>figure{
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.features>figure>img{
    width: 80px;
    height: 80px;
}
.features>figure>figcaption{
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
}
