.instagram{
    display: flex;
    margin: 100px 15%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.instagram-description{
    padding: 40px 25%;
}
.instagram-description>*{
    text-align: center;
}
.instagram-description>h2{
    font-weight: 700;
}
.instagram-description>p{
    font-size: 14px;
    margin-top: 10px;
    color: rgba(39, 39, 39, 0.6);
}
.instagram-images{
    display: flex;
    width: 100%;
}
.instagram-images>img{
    width: 217px;
    
}
.instagram-images>img:not(:first-child){
    margin-left: 20px;    
}