.instagram{
    display: flex;
    margin: 20px 15%;
    border: 1px solid green;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.instagram-description{
    border: 1px solid red;
    padding: 40px 30%;
}
.instagram-description>*{
    text-align: center;
}
.instagram-description>h2{
    font-weight: 900;
}
.instagram-description>p{
    font-size: 14px;
    margin-top: 10px;
    color: rgba(39, 39, 39, 0.6);
}
.instagram-images{
    display: flex;
    width: 100%;
}
.instagram-images>img{
    width: 217px;
    
}
.instagram-images>img:not(:first-child){
    margin-left: 20px;    
}