.sale{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}
.sale-description{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10% 5%;
    align-items: center;
}
.sale-description>*{
    margin-top: 20px;
}
.sale-description h2{
    font-weight: bolder;
    font-size: 29px;
}
.sale-description p{
    font-size: 14px;
    color: rgba(39, 39, 39, 0.6);
}
.sale-description>button{
    border: none;
    background-color: rgba(229, 84, 115, 1);
    color: white;
    height: 50px;
    width: 130px;
    border-radius: 5px;
}
.sale-description>button:hover{
    cursor: pointer;
}
.sale-image{
    max-width: 50%;
    bottom: 0;
    margin-left: 30px;
}
.sale-image img{
    width: 230px;
}
#off{
    color: rgba(229, 84, 115, 1);
}